@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@utility btn {
  @apply py-2 px-4
      font-semibold rounded-xs shadow-md transition-colors
      bg-slate-50 hover:bg-slate-100
      dark:bg-gray-800 dark:hover:bg-gray-700
      focus:outline-hidden focus:ring-2 focus:ring-current/75;
  &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
}

@utility btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-700 focus:ring-blue-400;
  @apply dark:bg-blue-800 dark:hover:bg-blue-700;
}

@utility btn-success {
  @apply bg-green-500 text-white hover:bg-green-700 focus:ring-green-400;
  @apply dark:bg-green-800 dark:hover:bg-green-700;
}

@utility btn-warning {
  @apply bg-yellow-500 text-white hover:bg-yellow-700 focus:ring-yellow-400;
  @apply dark:bg-yellow-800 dark:hover:bg-yellow-700;
}

@utility btn-xs {
  @apply text-xs py-1 px-2;
}

@utility input {
  @apply py-1 px-1 mx-2
      border-b-2 border-gray-300
      focus:outline-hidden focus:ring-2 focus:ring-current/75;
}

@layer utilities {
  body,
  input,
  button,
  select,
  option,
  textarea {
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 10pt;
  }

  body {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  #illuminatrix-root {
    @apply min-h-full flex flex-col;
  }

  * {
    box-sizing: border-box;
  }
}
